@model Mkhz.Models.Invoice

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Residual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Residual)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> 
    </form>
    <hr />
    <form asp-action="DeleteAndReturn">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ارجاع المنتجات" class="btn btn-dark" /> |
        <a asp-action="Index">القائمة الرئيسية</a>
    </form>
</div>
